@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
h1,h2,h3,h4,h5,h6,p { margin: 0;}
html { 
    box-sizing: border-box;
}
*,*::after,*::before { 
    box-sizing: inherit;
}
:root{
    --link-color: #212121;
    --text-color: #757575;
    --link-color_hover: #2196F3;

}

    .logo-link {
        font-style: normal;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000;
        
    }
.navigator-links{
list-style-type: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

}

.navigator-link{
    color: var(--link-color);
    text-decoration: none;
}

.navigator-link:hover,
.navigator-link:focus,
.navigator-link:active{
    color: var(--link-color_hover);
}

.navigator-link-current-link
{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;

color: #2196F3;
}

.contact-info-link-current-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #2196F3;

}
.contact-info-link{
    text-decoration: none;
    color: var(--link-color);
    
}
.contact-info-link-current-link a{
    list-style-type: none;
}

.contact-info-link:hover,
.contact-info-link:focus,
.contact-info-link:active{
    color: var(--link-color_hover);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;

}
.header-container{
    display: flex;
    justify-content:space-between;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigator-links{
    display: flex;
    margin-left: 100px;
   
}
.navigator-link-item:not(:last-child){
    margin-right: 60px;
}
.navigator-contacts{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-info-link-current-link .contact-info-link{
    font-weight: 500;
    color: #757575;
    padding: 32px 0 31px 0px;
}
.nav-container-item:not(:last-child){
        margin-right: 50px}
.section{
    padding :94px 0px
}
.hero{
    background-color: #2f303a;}

.hero-font{
    font-family:"Roboto";
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 6%;
    text-align: center;
    color: #FFFFFF;
}
.our-team-container ul{
list-style-type: none;
background: #F5F4FA;
;

}
    

h1,h3{
    font family:var(--link-color);
}

body{
        font-family:"Roboto","sans-serif";
        font-weight: 400;
        font-style:normal;
        font-size: 14px;
        line-height: 1.2;
        color: var(--text-color);
}







